.card{
    padding: 20px;
}

.card > hr{
    width: 100%;
}

.card__font{
    font-size: 1.8rem;
    color: aliceblue;
}

.card__image{
    width: 30%;
    height: 30%;
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
    justify-self: center;
    align-self: center;
}
