.careers{
    width: 100%;
    color: #cbdbe6;
}

.careers > div{
    padding-top: 20px;
    padding-left: 20px;
}

.careers__subject{
    font-size: 30px;        
}

.careers__content{
    font-size: 15px;
}