.header{
    width: 100%;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;
    background-color: #031f30;;
    top: 0;
    z-index: 100;
}

.header__column{
    margin-left: 50px;
    margin-right: 50px;
}

a{
    text-decoration: none;
}

.header__column__font{
    font-size: 30px;
    font-weight: bold;
    color: aliceblue;
}