.profile__info{
    margin-top: 15px;
    background: #004370;

}

.profile__info > p{
    font-size: 2.5rem;
    color: #cbdbe6;
    text-align: center;
}

.profile__info > p > a{
    color:#cbdbe6;
}


